/**
 Folha de estilo principal do html5 + css3
 @author Victor Guilherme
 */

/****************  IMPORTANDO FONT ****************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/**************** Principal ****************/
body {
	font-family: 'Open Sans', sans-serif;
	/* background-color: #FFFFFF;*/
	background-image: url("../Imagens/textura.jpg");
	background-attachment: fixed; /* fixa o background */
	background-size: cover; /* manter o tamanho de forma responsiva */
	font-size: 1em; /* 1em = 16 px */
}

#main{
	max-width: 1024px;
	background-color: #999A9B;
	margin: 0 auto; /* centralizar a div*/
	margin-top: 50px; /* box model */

}
 /*********** Cabeçalho *************/
 header{
 	width: 100%;
 	height: 150px;
 	background-color: #999A9B; /* dica para ajustar elementos */
 	margin-bottom: 20px;

 }
 header img {
 	width: 128px;
 	height: 128px;
 	margin-top: 10px;
 	margin-left: 40px;
 }
 section img{
 	margin-top: 50px;
 }

/*********** MENU **********/


/***************** Tratamento responsivo *****************/

img{
	max-width: 100%; /*todas as imagens do site ficam responsivas */
}



/*********** MENU RESPONSIVO ***********/
nav{
	width: 100%;
	max-width: 1024px;
	position: absolute;
}

nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	/*background-color: #FF5D00; */
	overflow: hidden; /* completar a largura total com o background (formar o menu)*/
}

nav > ul > li{
	float: left;
	/*width com esse valor devido a borda */
	width: 24.7%; /* 4 elementos do menu primário */
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 1.5px solid #000000;	
	border-right: 1.5px solid #000000;
}

nav > ul > li > a{
	font-size: 1.125em;
}

nav ul li a{
	background-color: #0015FF;
	text-decoration: none;
	color: #FFFFFF;
	padding: 15px;
	display: block;
	text-align: center;
}

nav ul li a:hover{
	background-color: #91BBFF;
	transition: all 0.27s; /* efeito transição (0 a 1) */
}

nav li ul{
	display: none;
}

nav li:hover ul{
	display: block;
}

.g1 img{
	width: 128px;
	height: 128px;
}

/*** heading ***/
#heading{
	width: 80%;
	margin: 0 auto;
	padding: 35px;
}

#heading h2{
	text-align: center;
	font-weight: 550;
}

#html5{
	font-weight: 550;
	color: #FFFFFF;
}

#css3{
	font-weight: 550;
	color: #FFFFFF;
}

/********** Blocos **********/
#destaque{
	max-height: 1024px;
	height: 320px;
}

.blocos{
	width: 30.76%; /*--- (315px/1024px)*100 ---*/
	height: 320px;
	background-color: #0015FF;
	float: left;
	margin-left: 1.8%; /*--- (20px/1024px)*100 ---*/
	border: 1px solid #000000;
	text-align: center;
	position: relative; /* Posicionamento do botão */
}

.blocos p{
	padding: 10px 10px 0px 10px;
	text-align: left;
}

.blocos a{
	width: 100px;
	height: 100px;
	padding: 10px;
	background-color: #FFFFFF;
	text-decoration: none;
	font-size: 0.875em;
	border-radius: 10px;
	position: absolute;
	right: 90px;
	bottom: 25px;
}

.blocos img{
	margin-top: 5px;
}

/* Desenhando um triângulo no css */

.Detalhes:after{ /* Atributo after (após o conteudo)*/
	content: ''; /* Content: insere um conteudo no css */
	color: #FFFFFF;
	border: 5px solid transparent;
	/* border-left-color: #800000;
	border-right-color: #800000;
	border-bottom-color: #91BBFF; */
	border-top-color: #FFFFFF; 
	/* Alinhamento */
	display: inline-block;
	vertical-align: middle;
}

.Mobile{
	display: none;
}
/* Classe usada pelo JS para fixar o menu */
.Fixar{
	position: fixed;
	top: 0;
 	z-index: 3;
}

/********** Formulário de Contato **********/
#contato{
	padding-top: 80px;
	width: 70%;
	margin: 0 auto;
}

#contato input[type=text]{
	width: 100%;
	padding: 7px;
	border-radius: 5px;
	border: 1px solid #0015FF;
	margin-bottom: 7px; 
}

#contato textarea{
	width: 99%;
	padding: 10px 10px 40px 10px;
	border-radius: 5px;
	border: 1px solid #0015FF;
	margin-bottom: 7px;
	resize: none; 
}

#contato input[type=submit]{
	background-color: #0015FF;
	border-radius: 5px;
	border: 1.4px solid #000000;
	color: #FFFFFF;
	padding: 10px 25px 10px 25px;
}

	/***** RODAPÉ *****/
	footer{
		width: 99.7%;
		background-color: #0015FF;
		margin-top: 75px;
		padding-top: 1px;
		padding-bottom: 1px;
		text-align: center;
		color: #FFFFFF;
		font-size: 1em;
		border-bottom: 2px solid #000000;
		border-left: 2px solid #000000;
		border-right: 2px solid #000000;
		border-top: 2px solid #000000;
	}

/***** Tratamento responsivo ********/

@media screen and (max-width: 480px){
	body{	
		margin: 0px;
	}
	#main{
		margin: 0px;
	}

	/*** Cabeçalho ***/

	header{
 	text-align: center;
 	margin-bottom: 0px;

 }
 header img {
 	margin-top: 0px;
 	margin-left: 0px;
 }

	/* menu hamburguer */
	.Mobile{
		display: block;
		background-color: #0015FF;
		color: #FFFFFF;
		text-decoration: none;
		padding: 15px;
}
nav > ul > li{
	float: none;
	width: 100%;
	}

nav ul{
	width: 100%;
	display: none;
	}
	
	/* ajuste */

	nav ul li a{
		/*font-size: 0.938em;
		padding: 12px;*/
		text-align: left;
	}

	nav ul li a:hover{
		transition: all 0s; /* remover efeito de trans~ição */

	}
	nav li ul li{
		background-color: #0015FF;
	}

	nav li  ul li a{
		background-color:#0015FF;
		padding-left: 40px;
	}

	/*** IMPORTANTE para UX no dispositivo mobile, não exibir o 2º nivel do menu enquanto o conteudo
	não for clicado **/
	nav li:hover ul{
		display: none;
	}

		/***** blocos *****/
	#destaque{
		max-width: 315px;
		height: auto;
		margin: 0 auto;
	}

	.blocos{
		width: 100%;
		height: 320px;
		float: none;
		margin: 0;
		margin bottom: 20px;
	}
}