/* Folha de estilo principal */

/********** Importando Font **********/
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

/********** Principal **********/
body{
	font-family: 'Slabo 27px', serif;
	/* background-color: #000000; */
	background-image: url("../Imagens/textura.jpg");
	background-size: cover; /* Manter o tamanho de forma responsiva */
	background-attachment: fixed; /* Fixa o background */
	font-size: 1em; /* 1 EM = 16PX */
}
#main {
	max-width: 1024px;
	/* background-color: #FFF; */
	margin: 0 auto; /* Centralizar */
}

/********** Tratamento Responsivo **********/
img {
	max-width: 100%; /* Todas as imagens do site ficam resposivas */

}
h1 {
	color: #FFFFFF;
}
h2 {
	color: #FFFFFF;
}
p {
	color: #FFFFFF;
}