/* Folha de estilo principal */

/********** Importando Font **********/
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

/********** Principal **********/
body{
	font-family: 'Slabo 27px', serif;
	/* background-color: #191970; */
	background-image: url("../Imagens/textura.jpg");
	background-size: cover; /* Manter o tamanho de forma responsiva */
	background-attachment: fixed; /* Fixa o background */
	font-size: 1em; /* 1 EM = 16PX */
}
#main {
	max-width: 1024px;
	/* background-color: #FFF; */
	margin: 0 auto; /* Centralizar */
	margin-top: 50px; /* Box Model */
}

/********** Cabeçalho **********/
/*header{
	width: 100%px;
	height: 200px;
	background-color: #191970; /* Dica para ajustar elementos
}*/

/*header img{
	width: 128px;
	height: 128px;
	margin-left: 150px;

}*/
/********** Tratamento Responsivo **********/
img {
	max-width: 100%; /* Todas as imagens do site ficam resposivas */

}
h1 {
	color: #FFFFFF;
}
h2 {
	color: #FFFFFF;
}
p {
	color: #FFFFFF;
}

nav{
	width: 100%;
}

nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	background-color: #006197;
	overflow: hidden; /* Completar a largura total com o background (formar o menu) */
}

nav > ul > li{
	float: left;
}

nav ul li a{
	text-decoration: none;
	color: #FFFFFF;
	padding: 15px;
	display: block;
}

nav ul li a:hover{
	background-color: #8B0000;
	transition: all 0.27s; /* Efeito transição (0 à 1) */
}

nav li ul{
	display: none; 
}

nav li:hover ul{
	display: block;
	position: absolute;
}

/* Desenhando um triangulo no CSS3 */
.Detalhes:after{ /* Atributo after (Após o conteúdo) */
	content:''; /* content: Insere um conteúdo no CSS3 */
	color: #FFFF00;
	border: 5px solid transparent;
	border-top-color: #FFFFFF;
	/* Alinhamento */
	display: inline-block;
	vertical-align: middle;
}

.Mobile{
	display: none;
}
/* Classe usada pelo JavaScript para fixar o menu */
.Fixar{
	position: fixed;
	top: 0;
	z-index: 3;
}

/********** Tratamento responsivo **********/

@media screen and (max-width: 480px){
	body{
		margin: 0px;
	}
	/* Menu hamburguer */
	.Mobile{
		display: block;
		background-color: #006197;
		color: #FFFFFF;
		text-decoration: none;
		padding: 15px;
	}

	nav > ul > li{
		float: none;
	}
		nav ul{
		width: 100%;
		display: none;
	}

	nav ul li a:hover{
		transition: all 0s; /* Remover efeito de transição */
	}

	nav li ul li{
		background-color: #8B0000;
	}
}