/**
* Estudo dos menus
* Menu drop responsivo
* @author Victor Guilherme
* Data 01/10/2018
*/

body{
	font-family: sans-serif;
}

nav{
	width: 100%;
}

nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	background-color: #0B0B61;
	overflow: hidden; /* Completar a largura total com o background (formar o menu) */
}

nav > ul > li{
	float: left;
}

nav ul li a{
	text-decoration: none;
	color: #FFFFFF;
	padding: 15px;
	display: block;
}

nav ul li a:hover{
	background-color: #FF4000;
	transition: all 0.27s; /* Efeito transição (0 à 1) */
}

nav li ul{
	display: none; 
}

nav li:hover ul{
	display: block;
	position: absolute;
}

/* Desenhando um triangulo no CSS3 */
.Detalhes:after{ /* Atributo after (Após o conteúdo) */
	content:''; /* content: Insere um conteúdo no CSS3 */
	color: #FFFF00;
	border: 5px solid transparent;
	/* border-left-color: #FF00FF; */
	/* border-right-color: #00FF00; */
	/* border-bottom-color: #0000FF; */
	border-top-color: #FFFFFF;
	/* Alinhamento */
	display: inline-block;
	vertical-align: middle;
}